
.idea/compiler.xml
.idea/vcs.xml
.idea/.name
.idea/aws.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__com_google_guava_guava_21_0.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__fr_xephi_authme_5_6_0_SNAPSHOT.xml
.idea/libraries/Maven__me_clip_placeholderapi_2_10_9.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_3.xml
.idea/libraries/Maven__org_jetbrains_annotations_19_0_0.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_10_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_11_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_12_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_14_4_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_15_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_16_1_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_16_4_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_8_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_9_4_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_16_4_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
API/easyjoin-api.iml
API/target/classes/me/espryth/easyjoin/action/AbstractAction.class
API/target/classes/me/espryth/easyjoin/action/Action.class
API/target/classes/me/espryth/easyjoin/action/ActionType.class
API/target/classes/me/espryth/easyjoin/api/NMSHandler.class
API/target/classes/me/espryth/easyjoin/format/Format.class
API/target/classes/me/espryth/easyjoin/service/Service.class
API/target/classes/me/espryth/easyjoin/util/ColorUtil.class
API/target/easyjoin-api-2.1.0-shaded.jar
API/target/EasyJoin.jar
API/target/maven-archiver/pom.properties
API/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
API/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
API/target/original-EasyJoin.jar
Core/dependency-reduced-pom.xml
Core/easyjoin-core.iml
Core/target/classes/book.yml
Core/target/classes/config.yml
Core/target/classes/me/espryth/easyjoin/action/ActionManager$1.class
Core/target/classes/me/espryth/easyjoin/action/ActionManager.class
Core/target/classes/me/espryth/easyjoin/action/impl/ActionbarAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/BookAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/BroadcastAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/BroadcastActionbarAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/BroadcastSound.class
Core/target/classes/me/espryth/easyjoin/action/impl/BroadcastTitleAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/ClearChatAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/ConsoleCommandAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/FireworkAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/JsonBroadcastAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/JsonMessageAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/MessageAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/PlayerCommandAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/SoundAction.class
Core/target/classes/me/espryth/easyjoin/action/impl/TitleAction.class
Core/target/classes/me/espryth/easyjoin/commands/MainCommand.class
Core/target/classes/me/espryth/easyjoin/Core.class
Core/target/classes/me/espryth/easyjoin/file/Files.class
Core/target/classes/me/espryth/easyjoin/file/FilesManager.class
Core/target/classes/me/espryth/easyjoin/format/SimpleFormat.class
Core/target/classes/me/espryth/easyjoin/listeners/authme/LoginListener.class
Core/target/classes/me/espryth/easyjoin/listeners/authme/RegisterListener.class
Core/target/classes/me/espryth/easyjoin/listeners/PlayerJoinListener.class
Core/target/classes/me/espryth/easyjoin/listeners/PlayerQuitListener.class
Core/target/classes/me/espryth/easyjoin/service/FormatService.class
Core/target/classes/me/espryth/easyjoin/service/MainService.class
Core/target/classes/me/espryth/easyjoin/util/nms/NMSSetup.class
Core/target/classes/me/espryth/easyjoin/util/nms/SimpleNMSSetup.class
Core/target/classes/plugin.yml
Core/target/EasyJoin 2.1.1.jar
Core/target/easyjoin-core-2.1.0-shaded.jar
Core/target/maven-archiver/pom.properties
Core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Core/target/original-EasyJoin.jar
easyjoin-parent.iml
target/easyjoin-parent-2.1.0-shaded.pom
Versions/target/easyjoin-versions-2.1.0-shaded.pom
Versions/easyjoin-versions.iml
Versions/v1_10_R1/easyjoin-versions-v1_10_R1.iml
Versions/v1_10_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_10_R1.class
Versions/v1_10_R1/target/easyjoin-versions-v1_10_R1-2.1.0-shaded.jar
Versions/v1_10_R1/target/EasyJoin.jar
Versions/v1_10_R1/target/maven-archiver/pom.properties
Versions/v1_10_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_10_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_10_R1/target/original-EasyJoin.jar
Versions/v1_11_R1/easyjoin-versions-v1_11_R1.iml
Versions/v1_11_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_11_R1.class
Versions/v1_11_R1/target/easyjoin-versions-v1_11_R1-2.1.0-shaded.jar
Versions/v1_11_R1/target/EasyJoin.jar
Versions/v1_11_R1/target/maven-archiver/pom.properties
Versions/v1_11_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_11_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_11_R1/target/original-EasyJoin.jar
Versions/v1_12_R1/easyjoin-versions-v1_12_R1.iml
Versions/v1_12_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_12_R1.class
Versions/v1_12_R1/target/easyjoin-versions-v1_12_R1-2.1.0-shaded.jar
Versions/v1_12_R1/target/EasyJoin.jar
Versions/v1_12_R1/target/maven-archiver/pom.properties
Versions/v1_12_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_12_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_12_R1/target/original-EasyJoin.jar
Versions/v1_14_R1/easyjoin-versions-v1_14_R1.iml
Versions/v1_14_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_14_R1.class
Versions/v1_14_R1/target/easyjoin-versions-v1_14_R1-2.1.0-shaded.jar
Versions/v1_14_R1/target/EasyJoin.jar
Versions/v1_14_R1/target/maven-archiver/pom.properties
Versions/v1_14_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_14_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_14_R1/target/original-EasyJoin.jar
Versions/v1_15_R1/easyjoin-versions-v1_15_R1.iml
Versions/v1_15_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_15_R1.class
Versions/v1_15_R1/target/easyjoin-versions-v1_15_R1-2.1.0-shaded.jar
Versions/v1_15_R1/target/EasyJoin.jar
Versions/v1_15_R1/target/maven-archiver/pom.properties
Versions/v1_15_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_15_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_15_R1/target/original-EasyJoin.jar
Versions/v1_16_R1/easyjoin-versions-v1_16_R1.iml
Versions/v1_16_R1/target/classes/me/espryth/easyjoin/api/NMSHandler_1_16_R1.class
Versions/v1_16_R1/target/easyjoin-versions-v1_16_R1-2.1.0-shaded.jar
Versions/v1_16_R1/target/EasyJoin.jar
Versions/v1_16_R1/target/maven-archiver/pom.properties
Versions/v1_16_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_16_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_16_R1/target/original-EasyJoin.jar
Versions/v1_16_R3/easyjoin-versions-v1_16_R3.iml
Versions/v1_16_R3/target/classes/me/espryth/easyjoin/api/NMSHandler_1_16_R3.class
Versions/v1_16_R3/target/easyjoin-versions-v1_16_R3-2.1.0-shaded.jar
Versions/v1_16_R3/target/EasyJoin.jar
Versions/v1_16_R3/target/maven-archiver/pom.properties
Versions/v1_16_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_16_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_16_R3/target/original-EasyJoin.jar
Versions/v1_8_R3/easyjoin-versions-v1_8_R3.iml
Versions/v1_8_R3/target/classes/me/espryth/easyjoin/api/NMSHandler_1_8_R3.class
Versions/v1_8_R3/target/easyjoin-versions-v1_8_R3-2.1.0-shaded.jar
Versions/v1_8_R3/target/EasyJoin.jar
Versions/v1_8_R3/target/maven-archiver/pom.properties
Versions/v1_8_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_8_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_8_R3/target/original-EasyJoin.jar
Versions/v1_9_R2/easyjoin-versions-v1_9_R2.iml
Versions/v1_9_R2/target/classes/me/espryth/easyjoin/api/NMSHandler_1_9_R2.class
Versions/v1_9_R2/target/easyjoin-versions-v1_9_R2-2.1.0-shaded.jar
Versions/v1_9_R2/target/EasyJoin.jar
Versions/v1_9_R2/target/maven-archiver/pom.properties
Versions/v1_9_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Versions/v1_9_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Versions/v1_9_R2/target/original-EasyJoin.jar
